<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title><%= dinosaurs.name %></title>
    </head>
    <body>
        <div class="container">
            <h1>Your Favorite Dinosaur's Page!</h1>
            <div class="row">
                <h2><%= dinosaurs.name %></h2>
                <h2><%= dinosaurs.cool %></h2>
                <h2><%= dinosaurs.food %></h2>
                <p><%= dinosaurs.pet %></p>
                <a href="/dinosaurs/edit/<%= dinosaurs.id %>/">Edit</a>
                <a href="/">Home</a>
            </div>
        </div>
    </body>
</html>
